<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data
            android:name="@string/preference_key_app_channel"
            android:value="Google Play"
            tools:replace="android:value" />
    </application>

</manifest>
