<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <meta-data
            android:name="@string/preference_key_app_channel"
            android:value="F-Droid"
            tools:replace="android:value" />

        <service
            android:name=".push.WikipediaFirebaseMessagingService"
            tools:node="remove"/>

    </application>

</manifest>
