<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@drawable/launcher_alpha"
        android:label="@string/app_name_alpha"
        tools:replace="android:icon, label">

        <meta-data
            android:name="@string/preference_channel"
            android:value="Alpha Channel"
            tools:replace="android:value" />

        <receiver
            android:icon="@drawable/launcher"
            android:label="@string/widget_name_search"
            android:name="org.wikipedia.widgets.WidgetProviderSearch" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_search" />
        </receiver>

        <receiver
            android:icon="@drawable/launcher"
            android:label="@string/widget_name_featured_page"
            android:name="org.wikipedia.widgets.WidgetProviderFeaturedPage" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_featured_page" />
        </receiver>

    </application>

</manifest>
