<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.wikipedia"
    android:installLocation="auto"
    tools:node="strict">
    <!--
    If the build is intended to be Google Play-updateable, the package name
    should be the same as for Google Play (name depends on Beta or Stable).
    Otherwise, if the build is not intended to be Google Play-updateable (e.g.,
    updateable via an alternative appstore update mechanism), the package name
    should be specific to the update mechanism channel.
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />

    <!-- For notifications, e.g. User account notices, Wikipedia Zero, etc. -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- For being able to receive notifications upon boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- For Nearby feature -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location" tools:node="replace" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" tools:node="replace" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" tools:node="replace" android:required="false"  />

    <!-- For keeping the device awake while performing background tasks, such as syncing offline articles. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
        Don't let Google Play filter out devices that just have fake touch
        (e.g. mouse and keyboard instead of a real touchscreen).
    -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/full_backup_rules"
        tools:replace="android:allowBackup"
        android:supportsRtl="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:name=".WikipediaApp"
        android:theme="@style/AppTheme">

        <!-- Multi-window support on Samsung devices -->
        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />

        <!--
        The following is used for determining the distribution channel.
        Set "value" to "Google Play" for Google Play Store.
        -->
        <meta-data android:name="@string/preference_key_app_channel" android:value="@string/channel" />
        <meta-data android:name="net.hockeyapp.android.appIdentifier"
            android:value="@string/hockeyapp_app_id" />

        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.Splash"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/intent_share_search_label">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/intent_share_search_label">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.PageActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Page"
            android:launchMode="singleTask"
            android:parentActivityName=".main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- the following lines are merged
                     https://developer.android.com/training/app-links/deep-linking.html
                     so http and https apply to all prefixes-->
                <data android:host="*.wikipedia.org" android:pathPrefix="/wiki/" android:scheme="http" />
                <data android:host="*.wikipedia.org" android:pathPattern="/zh-.*" android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.wikipedia.app_shortcut" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".crash.CrashReportActivity"
            android:label="@string/crash_report_activity_title"
            android:noHistory="true"
            android:excludeFromRecents="true" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:theme="@style/AppTheme.ActionBar"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name=".settings.DeveloperSettingsActivity"
            android:label="@string/developer_settings_activity_title"
            android:theme="@style/AppTheme.ActionBar"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name=".settings.AboutActivity"
            android:label="@string/about_activity_title"
            android:theme="@style/AppTheme.ActionBar"
            android:exported="false">
            <intent-filter>
                <action android:name=".settings.AboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".language.LangLinksActivity"
            android:label="@string/langlinks_activity_title"
            android:theme="@style/AppTheme.ActionBar.Page"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name=".edit.EditSectionActivity"
            android:theme="@style/AppTheme.ActionBar.Page"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/login_activity_title"
            android:theme="@style/AppTheme.ActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name=".createaccount.CreateAccountActivity"
            android:theme="@style/AppTheme.ActionBar"
            android:label="@string/create_account_activity_title"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name=".gallery.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".settings.LicenseActivity"
            android:exported="true"
            android:theme="@style/AppTheme.ActionBar"
            tools:ignore="GoogleAppIndexingUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:pathPrefix="/android_asset/licenses/" android:scheme="content" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feed.news.NewsActivity" />

        <activity
            android:name=".descriptions.DescriptionEditActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".descriptions.DescriptionEditSuccessActivity"
            android:theme="@style/AppTheme.FullScreen.TranslucentDark"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".descriptions.DescriptionEditHelpActivity" />

        <activity
            android:name=".descriptions.DescriptionEditTutorialActivity" />

        <activity
            android:name=".readinglist.ReadingListActivity" />

        <activity
            android:name=".onboarding.InitialOnboardingActivity" />

        <activity
            android:name=".offline.LocalCompilationsActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:mimeType="application/zim" />
                <data android:scheme="file" android:pathPattern=".*\\.zim" />
            </intent-filter>
        </activity>

        <activity
            android:name=".offline.RemoteCompilationsActivity"
            android:theme="@style/AppTheme.GreenActionMode"/>

        <activity
            android:name=".offline.CompilationDetailActivity" />

        <activity
            android:name=".offline.OfflineTutorialActivity"
            android:theme="@style/AppTheme.TranslucentStatus"/>

        <activity
            android:name=".feed.mostread.MostReadArticlesActivity"
            android:theme="@style/AppTheme.ActionBar"/>

        <activity android:name=".feed.onthisday.OnThisDayActivity"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".feed.configure.ConfigureActivity"
            android:label="@string/feed_configure_activity_title"
            android:theme="@style/AppTheme.ActionBar"/>

        <activity android:name=".random.RandomActivity"
            android:label="@string/view_random_card_title"
            android:theme="@style/AppTheme.ActionBar"/>

        <activity android:name=".theme.ThemeFittingRoomActivity"
            android:label="@string/preference_title_app_theme"
            android:theme="@style/AppTheme.ActionBar"/>

        <provider
            android:authorities="${applicationId}"
            android:name=".database.AppContentProvider"
            android:exported="false" />

        <provider
            android:authorities="@string/reading_lists_authority"
            android:name=".database.ReadingListsContentProvider"
            android:exported="false"
            android:syncable="true"
            android:label="@string/user_option_sync_label" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name=".offline.OfflineContentProvider"
            android:authorities="${applicationId}.offline"
            android:exported="false" />

        <receiver
            android:icon="@mipmap/launcher"
            android:label="@string/widget_name_search"
            android:name="org.wikipedia.widgets.WidgetProviderSearch" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_search" />
        </receiver>

        <receiver
            android:icon="@mipmap/launcher"
            android:label="@string/widget_name_featured_page"
            android:name="org.wikipedia.widgets.WidgetProviderFeaturedPage" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_featured_page" />
        </receiver>

        <!--
        This is a receiver that receives an intent from the Play Store app upon first launch
        after the app is installed, if the original link that led the user to the Play Store
        for installing the app contained a "referrer" query parameter. This is why the receiver
        needs to be exported.
        -->
        <receiver android:name=".analytics.InstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".notifications.NotificationPollBroadcastReceiver">
            <intent-filter>
                <action android:name=".notifications.NotificationPollBroadcastReceiver.ACTION_POLL" />
            </intent-filter>
        </receiver>

        <receiver android:name=".offline.DownloadManagerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".readinglist.sync.ReadingListSyncService"
            android:exported="false">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/reading_list_sync_adapter" />

        </service>

        <service
            android:name=".auth.AuthenticatorService"
            android:exported="false">

            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/wikimedia_authenticator" />

        </service>

        <service
            android:name=".savedpages.SavedPageSyncService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".savedpages.SavedPageSyncNotification" />

    </application>
</manifest>
