<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wikipedia"
    android:versionCode="61"
    android:versionName="2.0-alpha-2014-06-09"
    android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@drawable/launcher_alpha"
        android:logo="@drawable/search_w"
        android:label="@string/app_name"
        android:name=".WikipediaApp"
        android:theme="@style/Theme.Agora">
        <activity android:name=".page.PageActivity"
                  android:theme="@style/NoTitle"
                  android:windowSoftInputMode="stateHidden"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*.wikipedia.org" android:pathPrefix="/wiki/" android:scheme="http" />
                <data android:host="*.wikipedia.org" android:pathPrefix="/wiki/" android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
                android:name=".history.HistoryActivity"
                android:label="@string/history_activity_title"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                android:windowSoftInputMode="stateHidden|adjustResize"
                >
        </activity>

        <activity
                android:name=".savedpages.SavedPagesActivity"
                android:label="@string/saved_pages_activity_title"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                >
        </activity>

        <activity android:name="org.acra.CrashReportDialog"
                  android:theme="@style/Theme.AppCompat.Light"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:finishOnTaskLaunch="true" />
        <activity android:name=".settings.SettingsActivity"
                  android:label="@string/more_activity_title"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                />
        <activity android:name=".settings.AboutActivity"
                  android:label="@string/about_activity_title"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize">
            <intent-filter>
                <action android:name=".settings.AboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".interlanguage.LangLinksActivity"
                  android:label="@string/langlinks_activity_title"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                />
        <activity android:name=".editing.EditSectionActivity"
                  android:windowSoftInputMode="adjustResize|stateVisible"
                  android:label="@string/edit_section_activity_title"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                />
        <activity android:name=".login.LoginActivity"
                  android:label="@string/login_activity_title"
                  android:windowSoftInputMode="stateVisible|adjustResize"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                />
        <activity android:name=".createaccount.CreateAccountActivity"
                  android:label="@string/create_account_activity_title"
                  android:windowSoftInputMode="stateVisible|adjustResize"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                />
        <activity android:name=".pagehistory.usercontributions.UserContribsActivity"
                  android:label="@string/activity_my_contributions_title"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                />

        <provider
            android:authorities="org.wikipedia.history"
            android:name=".history.HistoryEntryContentProvider"
            />

        <provider
                android:authorities="org.wikipedia.editsummaries"
                android:name=".editing.summaries.EditSummaryContentProvider"
                />

        <provider
                android:authorities="org.wikipedia.pageimages"
                android:name=".pageimages.PageImageContentProvider"
                />

        <provider
                android:authorities="org.wikipedia.savedpages"
                android:name=".savedpages.SavedPageContentProvider"
                />

    </application>
</manifest>
