<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wikipedia"
    android:installLocation="auto">
    <!--
    If the build is intended to be Google Play-updateable, the package name
    should be the same as for Google Play (name depends on Beta or Stable).
    Otherwise, if the build is not intended to be Google Play-updateable (e.g.,
    updateable via an alternative appstore update mechanism), the package name
    should be specific to the update mechanism channel.
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For Nearby feature -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />

    <!--
        Don't let Google Play filter out devices that just have fake touch
        (e.g. mouse and keyboard instead of a real touchscreen).
    -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.faketouch" android:required="true" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:name=".WikipediaApp"
        android:theme="@style/AppTheme">

        <!--
        The following is used for determining the distribution channel.
        Set "value" to "Google Play" for Google Play Store.
        -->
        <meta-data android:name="@string/preference_key_app_channel" android:value="@string/channel" />
        <!-- Don't delete the meta-data field above -->

        <activity android:name=".page.PageActivity"
                  android:theme="@style/NoTitle"
                  android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*.wikipedia.org" android:pathPrefix="/wiki/" android:scheme="http" />
                <data android:host="*.wikipedia.org" android:pathPrefix="/wiki/" android:scheme="https" />
            </intent-filter>
            <intent-filter android:label="@string/intent_share_search_label">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name="org.acra.CrashReportDialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:finishOnTaskLaunch="true"
                  android:exported="false"
                />
        <activity android:name=".settings.SettingsActivity"
                  android:label="@string/more_activity_title"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                  android:exported="false"
                />
        <!-- Settings activity specifically for API 10 (remove when we drop support for API 10) -->
        <activity android:name=".settings.SettingsActivityGB"
                  android:label="@string/more_activity_title"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                  android:exported="false"
                />
        <activity android:name=".settings.AboutActivity"
                  android:label="@string/about_activity_title"
                  android:exported="false">
            <intent-filter>
                <action android:name=".settings.AboutActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".interlanguage.LangLinksActivity"
                  android:label="@string/langlinks_activity_title"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                  android:exported="false"
                />
        <activity android:name=".editing.EditSectionActivity"
                  android:windowSoftInputMode="adjustResize|stateVisible"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                  android:exported="false"
                />
        <activity android:name=".login.LoginActivity"
                  android:label="@string/login_activity_title"
                  android:windowSoftInputMode="stateVisible|adjustResize"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                  android:exported="false"
                />
        <activity android:name=".createaccount.CreateAccountActivity"
                  android:label="@string/create_account_activity_title"
                  android:windowSoftInputMode="stateVisible|adjustResize"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                  android:exported="false"
                />
        <activity android:name=".pagehistory.usercontributions.UserContribsActivity"
                  android:label="@string/activity_my_contributions_title"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                  android:exported="false"
                />
        <activity android:name=".page.gallery.GalleryActivity"
                  android:theme="@style/NoTitle"
                  android:exported="false"
                />
        <activity android:name=".settings.LicenseActivity"
                  android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:pathPrefix="/android_asset/licenses/" android:scheme="file" />
            </intent-filter>
        </activity>

        <provider
                android:authorities="${applicationId}.history"
                android:name=".history.HistoryEntryContentProvider"
                />

        <provider
                android:authorities="${applicationId}.editsummaries"
                android:name=".editing.summaries.EditSummaryContentProvider"
                />

        <provider
                android:authorities="${applicationId}.pageimages"
                android:name=".pageimages.PageImageContentProvider"
                />

        <provider
                android:authorities="${applicationId}.recentsearches"
                android:name=".search.RecentSearchContentProvider"
                />

        <provider
                android:authorities="${applicationId}.savedpages"
                android:name=".savedpages.SavedPageContentProvider"
                />

        <receiver
            android:icon="@drawable/launcher"
            android:label="@string/widget_name_search"
            android:name="org.wikipedia.widgets.WidgetProviderSearch" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_search" />
        </receiver>

        <receiver
            android:icon="@drawable/launcher"
            android:label="@string/widget_name_featured_page"
            android:name="org.wikipedia.widgets.WidgetProviderFeaturedPage" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_featured_page" />
        </receiver>

    </application>
</manifest>
