<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wikimedia.wikipedia"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".WikipediaApp"
        android:theme="@style/AppTheme">
        <activity android:name=".PageActivity"
                  android:theme="@style/NoTitle"
                  android:windowSoftInputMode="stateHidden"
                >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="*.wikipedia.org" android:pathPrefix="/wiki/" android:scheme="http" />
                <data android:host="*.wikipedia.org" android:pathPrefix="/wiki/" android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
                android:name=".history.HistoryActivity"
                android:label="@string/history_activity_title">
        </activity>

        <activity
                android:name=".savedpages.SavedPagesActivity"
                android:label="@string/saved_pages_activity_title">
        </activity>

        <activity android:name="org.acra.CrashReportDialog"
                  android:theme="@android:style/Theme.Dialog"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:finishOnTaskLaunch="true" />

        <provider
            android:authorities="org.wikimedia.wikipedia.history"
            android:name=".history.HistoryEntryContentProvider"
            />

        <provider
                android:authorities="org.wikimedia.wikipedia.pageimages"
                android:name=".pageimages.PageImageContentProvider"
                />

        <provider
                android:authorities="org.wikimedia.wikipedia.savedpage"
                android:name=".savedpages.SavedPageContentProvider"
                />

    </application>

</manifest>