/* Loading animation in pure CSS
   Thanks to http://dabblet.com/gist/7708654 */
/* Last updated info */
a.edit_section_button {
  height: 32px;
  width: 32px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAMAAAC5zwKfAAAANlBMVEUAAAD///9sbW9sbW9sbW9sbW9sbW9sbW9sbW9sbW9sbW9sbW9sbW9sbW9sbW9sbW9sbW9sbW+FiFraAAAAEXRSTlMAABAgMEBQYHCAkKCwwNDg8InUWv0AAAGfSURBVHhe7djBjsIgFIXhOwjFeltK3/9lJ4J6SG5dHGgyyaRn1dUXlb8slJ+T9//AC7zACxRiLu37EqXsDPCW9ue2cBLo8/7a/RQwFK9OTwDj3k6Hwbk6Mb/EeRDUojyaHzKMgG4pRmy/ehoAXcklT3h+buoGffU8vDJlQJtfuuG5busEY/Xc28N4EPkp7EHwUaODjSkLIr8Iu/VIELkE2Bj9psDzSBuLQoLIxX1sLEfhQHirQ9rwvLAgcoHdejx4b3IJ8PDOcCBysfklJzToipc9Piu2OKFA5LL5o/xUhAZ9Qi7W40Dkspj8as48OGXkYj0ORH73w/yC8OCMXA5y5sE2lwgPh86Bbi3h+i8506Brc3kYjwb9VkL7lh8N+jaXxXg0GBGayW8WCoSXq+dNzjyIXGx+UXhQm1yCyZkHA8JAfvBosF6h21RvU3vb86B+4lCTcxf4rkTV3PZ9IAiTcxcYvnm94P3Qi9IN6rHXDybL5SAD4IHnZQAMxtu8jIA4E+Q8BKr1xkCcybrOcwhOBsE3JOT+4G+WC7zAC7zAXxMIT+qGYJfyAAAAAElFTkSuQmCC);
  background-image: url(//bits.beta.wmflabs.org/static-master/extensions/MobileApp/less/../images/edit.png?2014-04-30T22:15:00Z)!ie;
  background-size: 32px 32px;
  float: right;
  display: inline-float;
}
.no-editing .edit_section_button {
  display: none;
}
.content-rtl a.edit_section_button {
  float: left;
  /* Flip it! */
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.loading {
  border: 4px solid rgba(0,0,0,0.1);
  border-top: 4px solid rgba(0,0,0,0.4);
  border-radius: 100%;
  -webkit-animation: rot .6s infinite linear;
}
@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
#loading_sections {
  margin: 8px auto;
  height: 24px;
  width: 24px;
}
#attribution {
  border-top: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  color: #888;
  font-size: 80%;
}

/* Headers */
/* Thumbnail styles from MobileFrontend */
/* Makes sure that we don't have horizontal scrollbars for the entire page because
   an image is too wide to fit in to the current viewport */
body {
  background-color: #F2F2F2;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  word-wrap: break-word;
}
#content {
  padding: 8px 24px;
}
a {
  color: #347BFF;
  text-decoration: none;
}
h1 {
  font-family: serif;
  color: #333;
  font-size: 1.6em;
  line-height: 2.25em;
  margin-bottom: 24px;
  font-weight: bold;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
}
h4 {
  font-weight: bold;
}
.thumb {
  margin: 15px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
  text-align: center;
  /* bug 20030 */
}
.thumb .thumbinner {
  margin: 5px auto;
  max-width: 100%;
}
.thumb .thumbinner > div {
  float: none !important;
  width: auto !important;
  clear: both !important;
}
.thumb .thumbcaption {
  margin: 5px 10px 0;
  text-align: center;
  width: auto !important;
}
.thumb .noresize {
  width: 100%;
  overflow-x: auto;
}
.thumb .noresize img {
  max-width: none !important;
}
ul {
  list-style: square inside;
}
ol {
  list-style: decimal inside;
}
table {
  margin: 1em 0;
  /* following 4 rules are needed for scrolling */
  overflow: auto;
  /* for browsers that don't support overflow-y */
  overflow-y: hidden;
  overflow-x: auto;
  display: block;
  width: 100% !important;
}
table td,
table th {
  padding: 3px;
  border: 1px #ccc solid;
}
table th {
  font-weight: bold;
  background-color: #f2f2f2;
  text-align: center;
}
table caption {
  display: block;
  text-align: left;
}
div.magnify {
  display: none;
}
img {
  max-width: 100% !important;
  height: auto !important;
}

/*
Imported from MobileFrontend. Should be made into a live link later.
A file for css that corrects known rendering issues on known Wikimedia wikis.

the following definitions exist to deal with certain inline styles
present in wikitext.
This file should not need to exist
It will become redundant when the following RFC is resolved:
https://www.mediawiki.org/wiki/Requests_for_comment/Allow_styling_in_templates

FIXME: Review all of these hacks to see if they still apply.
*/
/* Hide some on-wiki defined classes
   - Issue boxes, Nav Boxes, co-ordinates are hidden
   - Investigate alternative ways of surfacing those */
/* Galleries */
/* See https://www.mediawiki.org/wiki/Help:Images#Rendering_a_gallery_of_images */
.ambox,
#coordinates,
.navbox,
.vertical-navbox,
.topicon,
.metadata {
  display: none !important;
}
ul.gallery {
  width: 100% !important;
  max-width: 100% !important;
}
ul.gallery li.gallerybox {
  width: auto !important;
}
ul.gallery li.gallerybox > div {
  width: auto !important;
}
ul.gallery li.gallerybox > div > div.thumb {
  width: auto !important;
}
.hlist > ul li,
ul.hlist li {
  display: inline-block;
  margin-right: 8px;
}
table {
  border-spacing: 0 !important;
  float: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
table.infobox {
  background: #f9f9f9;
  text-align: center !important;
}