@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/OpenSans.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(fonts/OpenSans-BoldItalic.ttf) format('truetype');
}

/* Should be moved out to the MobileApp extension at some point */
body {
  background-color: #F2F2F2;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  padding: 0;
  margin-top: 48px;
}
#content {
  padding: 8px 24px;
}
a {
  color: #347BFF;
  text-decoration: none;
}
/* Headers */
h1 {
  font-family: serif;
  color: #064AAD;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 24px;
  font-weight: bold;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5,
h6 {
  font-size: 16px;
}
/* Basic Thumbnails */
.thumb {
  /* Don't stick thumbnails to the text above and below it */
  margin: 8px 0px;
  /* Align everything inside a thumbnail to be centered */
  text-align: center;
}
.thumb .thumbinner {
  /* Make sure that thumb takes up full width */
  width: 100% !important;
}
.thumb .magnify {
  display: none;
  /* Our parser is STUPID */
}
.thumb .noresize {
  overflow-x: auto;
  /* Scrollbars for images that shouldn't be squished */
}
/* Makes sure that we don't have horizontal scrollbars for the entire page because
   an image is too wide to fit in to the current viewport */
img {
  max-width: 100% !important;
  height: auto !important;
}
/* Basic tables */
table {
  width: 100% !important;
  overflow-x: auto;
  display: block;
  border: 1px solid #ccc;
  margin-top: 4px;
  margin-bottom: 4px;
}
