/* Same specificity as in less/content/main.less */
/* Same specificity as in less/content/hacks.less */
body {
  color: #999;
  background: #000;
}
a {
  color: #2B6FB2;
}
.content table th {
  background-color: #2f2f2f;
}
.content table.infobox {
  background: #444;
}