/* Should be moved out to the MobileApp extension at some point */
body {
    background-color: #FAFAFA;
    padding: 8px 24px;
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
}

a {
    color: #347BFF;
    text-decoration: none;
}

h1 {
    font-family: serif;
    color: #064AAD;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: bold;
}

h2, h3, h4, h5, h6 {
    font-family: serif;
}

