a.edit_section_button {
    height: 32px;
    width: 32px;
    background-image: url("edit.png");
    background-size: 32px 32px;
    float: right;
    display: inline-float;
}

/* Loading animation in pure CSS
   Thanks to http://dabblet.com/gist/7708654 */
.loading {
    border: 4px solid rgba(0, 0, 0, .1);
    border-top: 4px solid rgba(0, 0, 0, .4);
    border-radius: 100%;
    animation: rot .6s infinite linear;
}

@keyframes rot {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

#loading_sections {
    margin: 8px auto;
    height: 24px;
    width: 24px;
}
