name: Android smoke test

on: [workflow_dispatch]

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  instrumentation-tests:
    runs-on: macos-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'

    - name: Instrumentation Tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 29
        script: ./gradlew connectedDevDebugAndroidTest --stacktrace

    - name: Upload results
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: instrumentation-test-results ${{ matrix.api-level }}
        path: ./**/build/reports/androidTests/connected/**
