name: Android pull request test

on:
  pull_request:
    branches:
      - '*'

jobs:
  test_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: gradle/wrapper-validation-action@v1
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
    - uses: gradle/gradle-build-action@v2
    - name: Check for missing qq strings
      run: ./scripts/missing-qq.py
    - name: Build, test, and lint
      run: ./gradlew clean checkstyle ktlint assembleAlphaRelease lintAlphaRelease testAlphaRelease
