name: Android pull request test

on:
  pull_request:
    branches:
      - '*'

jobs:
  test_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: gradle/wrapper-validation-action@v1
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'
    - name: Check for missing qq strings
      run: ./scripts/missing-qq.py
    - name: Build, test, and lint
      run: ./gradlew clean checkstyle ktlint assembleAlphaRelease lintAlphaRelease testAlphaRelease
