name: Android pull request test

on:
  pull_request:
    branches:
      - '*'

jobs:
  test_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: gradle/actions/wrapper-validation@v5
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
        cache: 'gradle'
    - uses: gradle/gradle-build-action@v3
    - name: Check for missing qq strings
      run: ./scripts/missing-qq.py
    - name: Build, test, and lint
      run: ./gradlew clean ktlint assembleAlphaRelease lintAlphaRelease testAlphaDebugUnitTest --no-daemon
