name: Android branch build

on:
  push:
    branches:
      - '*design*'

jobs:
  build_branch:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Checkout submodules
      run: git submodule update --init --recursive
    - name: Build, test, and lint
      run: ./gradlew clean assembleAlphaRelease
    - name: List
      run: ls -alR ./app/build/outputs/apk/
    - uses: r0adkll/sign-android-release@v1
      name: Sign APK
      id: build_signed
      with:
        releaseDirectory: app/build/outputs/apk/alpha/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.KEY_STORE_ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
    - uses: actions/upload-artifact@v2
      name: Upload APK artifact
      with:
        name: app_alpha_release
        path: ${{steps.build_signed.outputs.signedReleaseFile}}
