name: Emerge upload

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Generate & upload release AAB to Emerge
        run: ./gradlew bundleEmergeProdRelease
        env:
          EMERGE_API_TOKEN: ${{ secrets.EMERGE_API_KEY }}
